.vscode/**
.vscode-test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
node_modules/glob
node_modules/typescript
!node_modules/sound-play
src/**
!src/assets/**
out/test/**
test/**
.git/**
.github/**
**/*.ts
**/*.map
.prettierrc
.eslintrc.js
.eslintrc.json
.gitattributes
.editorconfig
*.tgz
*.vsix
webpack.config.js
pnpm-lock.yaml
.eslint*
.prettier*
*.map
test/
