# development directories
.vscode/**
.vscode-test/**
.git/**
.github/**
src/**
test/**
out/test/**

# preserve assets
!src/assets/**

# configuration files
.gitignore
.gitattributes
.yarnrc
.editorconfig
.prettierrc
.prettier*
.eslintrc.js
.eslintrc.json
.eslint*
**/tsconfig.json
**/.eslintrc.json

# build files
**/*.ts
**/*.map
*.tgz
*.vsix
webpack.config.js
pnpm-lock.yaml  

# documentation
vsc-extension-quickstart.md

# node_modules
node_modules/**
node_modules/glob
node_modules/typescript
!node_modules/sound-play
